.work-on-box {

    color:rgb(199, 157, 41);
    background: rgb(232, 245, 255);
    border: 2px solid rgb(225, 242, 255);
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
    
}
.title {
    margin: 10px;
    padding: 10px;

}
.contact-me {
    
    padding: 10px;
    margin: 10px;
}